.App{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
  flex-direction: column;
  justify-content: space-between;
}


header{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: red;
  padding: 1rem;
}


.link{
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 1rem;
  border-radius: 5px;
}

footer{
  padding: 1rem;
  text-align: center;
  color: white;
  background-color: red;
}